<nav class="main-nav-outer" id="navbarPopup">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left main-nav">
        <li style="font-size: 26px;"> <span id="logoText" style="color:#42cbf4;">Transion </span></li>
      </ul>
      <ul class="nav navbar-nav navbar-right main-nav">
        <li style="font-size: 18px;">Log out<i class="fa fa-sign-out" aria-hidden="true"></i></li>
        <li style="font-size: 18px;">Log out<i class="fa fa-sign-out" aria-hidden="true"></i></li>
        <li style="font-size: 18px;">Log out<i class="fa fa-sign-out" aria-hidden="true"></i></li>
        <li style="font-size: 18px;">Log out [Marko] <i class="fa fa-sign-out" aria-hidden="true"></i> </li>
      </ul>
    </div>
</nav> 