.logout:hover{
    color: lightcoral;
}

.username {
    font-style: italic;
    color: white;
}

.username:hover {
    color: lightblue;
}

.noPointer {
    cursor: default;
}

*{
    font-family: monospace, Times, serif;
}