<nav class="main-nav-outer" id="navbarPopup">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left main-nav">
        <li style="font-size: 26px;"> <span id="logoText" style="color:#42cbf4;">Transion </span></li>
      </ul>
      <ul class="nav navbar-nav navbar-right main-nav">
        <li style="font-size: 18px;">To do 1</li>
        <li style="font-size: 18px;">To do 2</li>
        <li style="font-size: 18px;">To do 3</li>
        <li style="font-size: 18px;" (click)="logout()"> 
          <span class="logout">Log out  <i class="fa fa-sign-out"></i> </span>
        </li>
      </ul>
    </div>
</nav> 