<div class="login-background">
  <div class="col-md-6 col-md-offset-3">
    <header class="header" id="header"><!--header-start-->
        <figure class="logo animated fadeInDown delay-07s">
          <img src="../assets/images/Transion_logo.png" class="img-circle img-responsive" alt="">
        </figure>
        <h1 class="animated fadeInDown delay-07s">Welcome To <span style="color:#42cbf4;">Transion </span></h1>
    </header><!--header-end-->
  </div>

  <div class="col-md-6 col-md-offset-3">
    <header class="header" id="header"><!--header-start-->
      <form action="/loader" class="state-form form-horizontal" name="loginForm">
        <div class="form-group">
          <div class="login-box animated fadeInUp delay-2.1s">
            <div class="box-header">
              <h2 class="loginHeader">Sign In</h2>
            </div>
            <label for="username">Username</label>
            <br/>
            <input type="text" id="username" size="30" required>
            <br/>
            <label for="password">Password</label>
            <br/>
            <input type="password" id="password" size="30" required>
            <br/>
            <button type="submit">Sign In</button>
            <br/>
          </div>
        </div>
      </form>
      <br/>
    </header>
  </div>

</div>