<div class="login-background">
  <div class="col-md-6 col-md-offset-3">
    <header class="header" id="header"><!--header-start-->
        <figure class="logo animated fadeInDown delay-07s">
          <img src="../assets/images/Transion_logo.png" class="img-circle img-responsive" alt="">
        </figure>
        <h1 class="animated fadeInDown delay-07s">Welcome To <span style="color:#42cbf4;">Transion </span></h1>
    </header><!--header-end-->
  </div>

  <div class="col-md-6 col-md-offset-3">
    <header class="header" id="header"><!--header-start-->
      <form class="state-form form-horizontal" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group">
          <div class="login-box animated fadeInUp delay-2.1s">
            <div class="box-header">
              <h2 class="loginHeader">Sign In</h2>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <label for="username">Username</label>
              <br/>
              <input type="text" name="username" size="30" [(ngModel)]="model.username" #username="ngModel" required>
              <div *ngIf="f.submitted && !username.valid" class="help-block" style="color:red">Username is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <label for="password">Password</label>
              <br/>
              <input type="password" name="password" size="30" [(ngModel)]="model.password" #password="ngModel" required>
              <div *ngIf="f.submitted && !password.valid" class="help-block" style="color:red">Password is required</div>
            </div>
            <button type="submit">Sign In</button>
            <br/><br/>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </div>
        </div>
      </form>
      <br/>
    </header>
  </div>

</div>