<div class="col-md-1 animated fadeInUp">
  <p> <a class="btn btn-blue transitionEl" (click)="back()" style="padding: 16px; margin-top: 35px;"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Nazad </a> </p>
</div>
<!-- Shows table of items -->
<div class="col-md-8 col-md-offset-1 animated fadeInUp" *ngIf="tableFlag">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h3 class="panel-title">Lista artikala</h3>
    </div>
    <br/>
    <div class="panel-body" style="overflow: auto;">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 table-responsive table-border">
            <table class="table">
              <thead>
                <th> # </th>
                <th> Šifra </th>
                <th> Naziv </th>
                <th> Opis </th>
                <th> Garancija (meseci) </th>
                <th> Dobavljač </th>
                <th> Nabavna cena </th>
                <th> Prodajna cena </th>
                <th> Jedinica mere </th>
                <th> Stopa PDV-a (%) </th>
              </thead>
              <tbody>
                <tr *ngFor="let item of items;  let i = index;" (click)="showDetails(item, i)" [ngClass]="{'trActive': i == selectedRow}">
                  <td > {{i+1}} </td>
                  <td > {{item.externalUniqueKey}} </td>
                  <td > {{item.name}} </td>
                  <td > {{item.description}} </td>
                  <td > {{item.warranty}} </td>
                  <td > {{item.supplier.name}} </td>
                  <td > {{item.purchasePrice | number : '1.2-2'}} </td>
                  <td > {{item.sellingPrice | number : '1.2-2'}} </td>
                  <td > {{item.measure.shortcut}} </td>
                  <td > {{item.tax.base}}% </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div align="center">
        <button mat-raised-button style="background-color: lightblue; color:black;" (click)="newItem()"> 
          <i class="fa fa-plus" aria-hidden="true"></i> Novi artikal 
        </button>
        <button mat-raised-button style="background-color: lightgreen; color:black;" (click)="editItem()"> 
          <i class="fa fa-pencil" aria-hidden="true"></i> Izmena artikla 
        </button>
        <button mat-raised-button style="background-color: rgb(255, 74, 74); color:black;" (click)="removeItem()"> 
          <i class="fa fa-trash" aria-hidden="true"></i> Brisanje artikla 
        </button>
      </div>
  </div>
  </div>
</div>

<!-- New item form -->
<div class="col-md-4 col-md-offset-3 animated fadeInUp" *ngIf="newItemFlag || editItemFlag">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h3 *ngIf="newItemFlag" class="panel-title">Novi artikal</h3>
      <h3 *ngIf="editItemFlag" class="panel-title">Izmena artikla</h3>
    </div>
    <br/>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form>
            <div class="row">
              <div class="col-md-2" style="margin-top: 25px;">
                  <label class="label label-default" for="externalUniqueKey"> Šifra: </label>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="input-border1">
                    <input matInput name="externalUniqueKey" [(ngModel)]="item.externalUniqueKey" required [readonly]="editItemFlag">
                    <mat-error>Ovo polje je obavezno</mat-error>
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2" style="margin-top: 25px;">
                  <label class="label label-default" for="name"> Naziv: </label>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="input-border1">
                    <input matInput name="name" [(ngModel)]="item.name" required>
                    <mat-error>Ovo polje je obavezno</mat-error>
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2" style="margin-top: 25px;">
                <label class="label label-default" for="description"> Opis: </label>
              </div>
              <div class="col-md-9">
                <mat-form-field>
                  <textarea matInput name="description" placeholder="Dodatni opis artikla" [(ngModel)]="item.description"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2" style="margin-top: 25px;">
                <label class="label label-default" for="warranty"> Garancija: </label>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <mat-form-field class="input-border1">
                  <mat-select name="warranty" [(ngModel)]="item.warranty">
                    <mat-option *ngFor="let warranty of warranties" [value]="warranty">
                        {{warranty}} meseci
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2" style="margin-top: 25px;">
                <label class="label label-default" for="measure"> Jedinica mere: </label>
              </div>
              <div class="col-md-5 col-md-offset-1">
                <mat-form-field>
                  <mat-select [compareWith]="byId" name="measure" [(ngModel)]="item.measure" required>
                    <mat-option *ngFor="let measure of measures" [value]="measure">
                        {{measure.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Ovo polje je obavezno</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2" style="margin-top: 25px;">
                  <label class="label label-default" for="purchasePrice"> Nabavna cena: </label>
                </div>
                <div class="col-md-4 col-md-offset-1">
                  <mat-form-field>
                    <input matInput type="number" name="purchasePrice" [(ngModel)]="item.purchasePrice" required>
                    <mat-error>Ovo polje je obavezno</mat-error>
                  </mat-form-field>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2" style="margin-top: 25px;">
                <label class="label label-default" for="sellingPrice"> Prodajna cena: </label>
              </div>
              <div class="col-md-4 col-md-offset-1">
                <mat-form-field>
                  <input matInput type="number" name="sellingPrice" [(ngModel)]="item.sellingPrice" required>
                  <mat-error>Ovo polje je obavezno</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2" style="margin-top: 25px;">
                <label class="label label-default" for="tax"> Stopa PDV-a: </label>
              </div>
              <div class="col-md-3 col-md-offset-1">
                <mat-form-field>
                  <mat-select [compareWith]="byId" name="tax" [(ngModel)]="item.tax" required>
                    <mat-option *ngFor="let tax of taxes" [value]="tax">
                        {{tax.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>Ovo polje je obavezno</mat-error>
                </mat-form-field>
              </div>
            </div>			
          </form>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div align="center">
        <button mat-raised-button style="background-color: lightblue; color:black;" (click)="saveItem()"> 
          <i class="fa fa-save" aria-hidden="true"></i> Sačuvaj artikal
        </button>
      </div>
  </div>
  </div>
</div>

