<div class="col-md-1 animated fadeInUp">
  <p> <a class="btn btn-blue transitionEl" (click)="back()" style="padding: 16px; margin-top: 35px;"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Back </a> </p>
</div>
<div class="col-md-10 animated fadeInUp">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h3 class="panel-title">Faktura</h3>
    </div>
    <br/>
    <div class="panel-body" style="overflow: auto;">
      <div class="row">
        <div class="col-md-12">
          <fieldset>
            <legend> <span align="center" class="label label-info">Informacije o fakturi</span> </legend>
          
            <div class="col-md-2">
              <mat-form-field class="input-border1">
                <input matInput name="invoiceID" placeholder="Sifra fakture" [(ngModel)]="invoice.externalUniqueKey" required disabled>
                <mat-error>Morate uneti ovo polje</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="input-border1">
                <input matInput name="businessUnit" placeholder="Poslovna jedinica" required>
                <mat-error>Morate uneti ovo polje</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="input-border1">
                <input matInput name="buyer" placeholder="Kupac" required>
                <mat-error>Morate uneti ovo polje</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="input-border1">
                <input matInput [matDatepicker]="dp3" placeholder="Datum fakture" disabled>
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="input-border1">
                <input matInput [matDatepicker]="dp4" placeholder="Datum valute" disabled>
                <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                <mat-datepicker #dp4 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="input-border1">
                <input matInput [matDatepicker]="dp5" placeholder="Datum plaćanja" disabled>
                <mat-datepicker-toggle matSuffix [for]="dp5"></mat-datepicker-toggle>
                <mat-datepicker #dp5 disabled="false"></mat-datepicker>
              </mat-form-field>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <fieldset>
              <legend> <span class="label label-success">Lista artikala</span> </legend>
            <div class="col-md-2">
              <mat-form-field class="input-border1">
                <mat-select placeholder="Naziv artikla" [(ngModel)]="item" name="mapping" required>
                  <mat-option *ngFor="let item of items" [value]="item">
                      {{item.name}}
                  </mat-option>
                </mat-select>
                <mat-error>Morate uneti ovo polje</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="input-border1">
                  <input matInput placeholder="Količina" type="number" [(ngModel)]="item.quantity" required>
                  <mat-error>Morate uneti ovo polje</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="input-border1">
                <input matInput placeholder="Rabat" type="number" style="text-align: right;" [(ngModel)]="item.rebate" required>
                <span matSuffix>.00</span>
                <mat-error>Morate uneti ovo polje</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="input-border1">
                <input matInput placeholder="Jedinična cena" type="number" style="text-align: right;" [(ngModel)]="item.sellingPrice" required>
                <span matSuffix>.00</span>
                <mat-error>Morate uneti ovo polje</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <button mat-raised-button style="background-color: green; color:white;" (click)="addItem()"> 
                    Dodaj stavku <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button mat-raised-button style="background-color: red; color:white;" (click)="clearInputs()"> 
                    Očisti unos <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 table-responsive table-border">
            <div align="center"> <span class="label label-primary">Dodane stavke</span> </div>
            <br/>
            <table class="table table-hover">
              <thead>
                <th> # </th>
                <th> Šifra </th>
                <th> Proizvod </th>
                <th> Jedinica mere </th>
                <th> Količina </th>
                <th> Jedinična cena </th>
                <th> Rabat </th>
                <th> Cena posle rabata </th>
                <th> Osnovica </th>
                <th> Stopa PDV-a(%) </th>
                <th> PDV </th>
                <th> Vrednost PDV-a </th>
                <th> Prodajna cena </th>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataSource;  let i = index;">
                  <td> {{i+1}} </td>
                  <td> {{item.externalUniqueKey}} </td>
                  <td> {{item.name}} </td>
                  <td> {{item.measure.shortcut}} </td>
                  <td> {{item.quantity}} </td>
                  <td> {{item.sellingPrice | number : '1.2-2'}} </td>
                  <td> {{item.rebate | number : '1.2-2'}} </td>
                  <td> {{item.afterRebate | number : '1.2-2'}} </td>
                  <td> {{item.base | number : '1.2-2'}} </td>
                  <td> {{item.tax.base}} </td>
                  <td> {{item.pdvValue | number : '1.2-2'}} </td>
                  <td> {{item.pdvValueFull | number : '1.2-2'}} </td>
                  <td> {{item.fullPrice | number : '1.2-2'}} </td>
                </tr>
              </tbody>
            </table>
            <div class="sumTable">
              <u> Ukupno</u>: <span style="color: blue;"> {{sumOfInvoices | number : '1.2-2'}} </span>
              <u> PDV</u>: <span style="color: lightseagreen;"> {{sumOfPdv | number : '1.2-2'}} </span> 
              <u> Za plaćanje</u>: <span style="color: red;"> {{(sumOfPdv + sumOfInvoices) | number : '1.2-2'}} </span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

