
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 animated fadeInUp" *ngIf="tableFlag">
        <div class="panel panel-info">
          <div class="panel-heading text-center">
              <h3 class="panel-title">Imports</h3>
          </div>
          <br/>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-11 col-md-offset-1">
                <div class="row">
                  <div class="col-md-5 col-md-offset-3">
                    <mat-card style="background-color: whitesmoke;">
                      <mat-card-actions>
                        <mat-form-field hintLabel="Filter imports">
                          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>

                <mat-table [dataSource]="dataSource" class="table-hover" matSort>
                    <div>
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                        <mat-cell *matCellDef="let import"> {{import.id}} </mat-cell>
                      </ng-container>
                    </div>
                  
                      <ng-container matColumnDef="mapping">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Mapping </mat-header-cell>
                        <mat-cell *matCellDef="let import"> {{import.mapping.type}} </mat-cell>
                      </ng-container>
                  
                      <ng-container matColumnDef="createdOn">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Created on </mat-header-cell>
                        <mat-cell *matCellDef="let import"> {{import.createdOn |  date: 'dd/MM/yyyy'}} </mat-cell>
                      </ng-container>
                  
                      <ng-container matColumnDef="lineNumber">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Lines </mat-header-cell>
                        <mat-cell *matCellDef="let import"> {{import.lineNumber}} </mat-cell>
                      </ng-container>
                  
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetails(row)" [ngClass]="{'trActive': selectedRow == row.id}"></mat-row>
                  </mat-table>
                  <div class="row">
                    <div class="col-md-1" matTooltip="New import" style="margin-top: 20px;">
                        <button mat-mini-fab style="background-color: green;" (click)="newImport()"> 
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>  
                    <mat-paginator [length]="1000" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 animated fadeInUp" *ngIf="newFlag">
      <div class="panel panel-info">
        <div class="panel-heading text-center">
            <h3 class="panel-title">New import</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form>
                  <mat-form-field>
                    <mat-select placeholder="Type of mapping" [(ngModel)]="import.mapping" name="mapping">
                        <mat-option *ngFor="let mapping of mappingsType" [value]="mapping">
                            {{mapping.type}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div align="center">
                    <button mat-fab color="primary" (click)="imgFileInput.click()"> <i class="fa fa-upload" aria-hidden="true" matTooltip="Import file"></i> </button>
                    <input type="file" #imgFileInput (change)="importFile($event)" style="display: none;"/>
                  </div>
                </form> 	  			
              </div>
          </div>
        </div>
        <div class="panel-footer">
            <div align="center" matTooltip="Do an import">
                <button mat-mini-fab style="background-color: green;"> <i class="fa fa-check"></i></button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


