<app-header> </app-header>
<br/>
<div class="row">
  <div align="left" class="animated fadeInUp">
    <p>
      <a style="padding: 10px;" class="btn btn-blue" (click)="back()"> <i class="fa fa-arrow-left"></i> Back</a>
    </p>	
  </div>
</div>

<div class="container" *ngIf="tableFlag">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 animated fadeInUp" style="padding: 10px;">
        <div class="panel panel-info">
          <div class="panel-heading text-center">
              <h3 class="panel-title">Imports</h3>
          </div>
          <br/>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-11 col-md-offset-1">
                
                <!--
                <table class="table table-hover animated fadeInUp" *ngIf="showTable">
                  <thead>
                    <th> ID </th>
                    <th> Mapping </th>
                    <th> Created on </th>
                    <th> Line number </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let import of imports; let i = index;" (click)="showDetails(import, i)" [ngClass]="{'trActive': i == selectedRow}">
                      <td> {{import.id}} </td>
                      <td> {{import.mapping.label}} </td>
                      <td> {{import.createdOn | date: 'dd/MM/yyyy'}} </td>
                      <td> {{import.lineNumber}} </td>
                    </tr>
                  </tbody>
                </table> -->

                <mat-table [dataSource]="dataSource" class="table-hover" matSort>
                    <div>
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                        <mat-cell *matCellDef="let import"> {{import.id}} </mat-cell>
                      </ng-container>
                    </div>
                  
                      <ng-container matColumnDef="mapping">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Mapping </mat-header-cell>
                        <mat-cell *matCellDef="let import"> {{import.mapping.type}} </mat-cell>
                      </ng-container>
                  
                      <ng-container matColumnDef="createdOn">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Created on </mat-header-cell>
                        <mat-cell *matCellDef="let import"> {{import.createdOn |  date: 'dd/MM/yyyy'}} </mat-cell>
                      </ng-container>
                  
                      <ng-container matColumnDef="lineNumber">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Lines </mat-header-cell>
                        <mat-cell *matCellDef="let import"> {{import.lineNumber}} </mat-cell>
                      </ng-container>
                  
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetails(row)" [ngClass]="{'trActive': selectedRow == row.id}"></mat-row>
                  </mat-table>
                  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <hr class="style13" />
  <div align="center" class="animated fadeInUp">
    <a class="btn" (click)="newImport()">New import</a>
  </div>
</div>

<div class="container" *ngIf="newFlag">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 animated fadeInUp" style="padding: 10px;">
          <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3 class="panel-title">New import</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-9 col-md-offset-1"> 	  			
                    <table class="table" rules="none">
                        <tbody>
                            <tr>
                                <td> <b>Type of mapping: </b> </td>
                                <td> 
                                  <select [(ngModel)]="import.mapping" name="type" class="form-control" required>
                                      <option *ngFor="let mapping of mappingsType" [ngValue]="mapping">{{mapping.type}}</option>
                                  </select>
                                </td>
                            </tr>
                            <tr>
                              <td> <b> Import file </b> </td>
                              <td>
                                <input type="file" name="importFile" (change)="importFile($event)" required>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
              </div>
            </div>
            <div class="panel-footer">
                <div align="center">
                  <button type="button" (click)="saveMapping()" class="btn btn-md btn-success" data-toggle="tooltip" data-placement="bottom" title="Save mapping"> <i class="fa fa-check"></i></button>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
