
<div class="row">
  <div align="left" class="animated fadeInUp">
    <p>
      <a style="padding: 10px;" class="btn btn-blue" (click)="back()"> <i class="fa fa-arrow-left"></i> Back</a>
    </p>	
  </div>
</div>

<div align="center" class="animated fadeInUp">
  
</div>
<div class="container-fluid">
  <div class="row">
    <div align="center" class="animated fadeInUp">
      <h2 class="clientName"> {{client.name}}</h2>
      <hr class="style14" />
      <p>
        <a class="btn" [ngClass]="{ 'clicked': activeButton.transactions }">Transactions</a>
        <a class="btn btn-blue">Details</a>
        <a class="btn btn-red" >Mails</a>
        <a class="btn btn-green">Tables</a>
        <a class="btn btn-green">Configurations</a>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 animated fadeInUp" style="padding: 10px;">
        <div class="tab">
            <button class="tablinks" [ngClass]="{ 'active': tab.all }" (click)="changeTab('all')">All</button>
            <button class="tablinks" [ngClass]="{ 'active': tab.notPaid }" (click)="changeTab('notPaid')">Not paid</button>
            <button class="tablinks" [ngClass]="{ 'active': tab.paid }" (click)="changeTab('paid')">Paid</button>
            <div *ngFor="let task of tasks">
              <button class="tablinks" (click)="getTaskTransactions(task)"> {{task.label}} </button>
            </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading text-center">
              <h3 class="panel-title">Transactions</h3>
          </div>
          <br/>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div *ngIf="!showTable" class="alert alert-info col-md-4 col-md-offset-4 animated fadeInDown" align="center">There are no transactions</div>
                <table class="table table-hover animated fadeInUp" *ngIf="showTable">
                  <thead>
                    <th> Created date </th>
                    <th> Pay date </th>
                    <th> Paid date </th>
                    <th> Delay </th>
                    <th> Amount </th>
                    <th> Client name </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of transactions">
                      <td> {{transaction.creationDate | date: 'dd/MM/yyyy'}} </td>
                      <td> {{transaction.lastDayToPay | date: 'dd/MM/yyyy'}} </td>
                      <td> {{transaction.paidDate | date: 'dd/MM/yyyy'}} </td>
                      <td> {{transaction.delay}} </td>
                      <td> {{transaction.amount}} </td>
                      <td> {{transaction.client.name}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showDetails" align="center" class="animated fadeInDown">
            <p>
              <a (click)="transactions()" class="btn btn-blue">Transactions</a>
              <a (click)="mails()" class="btn btn-red">Mails</a>
            </p>	
        </div>
      </div>
  </div>
</div>
