body {
    background: url("../../assets/images/mainBack3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;
}

.tablinks.active {
    box-shadow: 0 20px 38px rgba(0,0,0,0.25), 0 20px 20px rgba(0,0,0,0.22);
}