<app-header> </app-header>
<br/>

<div class="row">
  <div align="left" class="animated fadeInUp">
    <p>
      <a style="padding: 20px;" class="btn btn-blue" (click)="back()"> <i class="fa fa-arrow-left"></i> Back</a>
    </p>	
  </div>
</div>

<div class="col-md-8 col-md-offset-2 animated fadeInUp" style="padding: 10px;" *ngIf="showTable">
  <div class="panel panel-info">
    <div class="panel-heading text-center">
        <h3 class="panel-title">Transactions</h3>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2"> 	  			
        <table class="table table-hover">
          <thead>
            <th> lastDayToPay </th>
            <th> payDate </th>
            <th> delay </th>
            <th> amount </th>
            <th> client name </th>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td> {{transaction.lastDayToPay}} </td>
              <td> {{transaction.payDate}} </td>
              <td> {{transaction.delay}} </td>
              <td> {{transaction.amount}} </td>
              <td> {{transaction.client.name}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="showDetails" align="center" class="animated fadeInDown">
      <p>
        <a (click)="transactions()" class="btn btn-blue">Transactions</a>
        <a (click)="mails()" class="btn btn-red">Mails</a>
      </p>	
  </div>
</div>