
  <app-header> </app-header>

  <h1 style="text-align: center">
      Please select one of options...
  </h1>

  <div class="row">
    <div align="center" class="animated fadeInUp">
      <p>
        <a class="btn" [ngClass]="{ 'clicked': model.agencies }" (click)="showAgencies()">Agencies</a>
        <a class="btn btn-blue" [ngClass]="{ 'clicked': model.imports }" (click)="showImports()"  onclick="showImports()">Import</a>
        <a class="btn btn-red" [ngClass]="{ 'clicked': model.exports }" (click)="showExports()" >Export</a>
        <a class="btn btn-green">Tables</a>
        <a class="btn btn-green">Configurations</a>
      </p>	
    </div>
  </div>

  <hr *ngIf="model.agencies || model.imports || model.exports" class="style13 animated fadeInDown"/>

  <div *ngIf="model.agencies" name="model.agencies" align="center" class="animated fadeInDown">
    <p>
      <a class="btn" (click)="showListAllAgencies()">List all agencies</a>
      <a class="btn btn-blue">Find agency</a>
      <a class="btn btn-green">Search</a>
      <a class="btn btn-green">Search</a>
      <a class="btn btn-green">Search</a>
    </p>	
  </div>

  <div *ngIf="model.imports" align="center" class="animated fadeInDown">
    <p>
      <a href="#" class="btn">List all imports</a>
      <a href="#" class="btn btn-blue">Import new file</a>
      <a href="#" class="btn btn-red">Something else</a>
      <a href="#" class="btn btn-green">Search</a>
    </p>	
  </div>
  <div *ngIf="model.exports" align="center" class="animated fadeInDown">
      <p>
        <a href="#" class="btn">List all exports</a>
        <a href="#" class="btn btn-blue">Export new file</a>
        <a href="#" class="btn btn-red">Something else</a>
        <a href="#" class="btn btn-green">Search</a>
      </p>	
  </div>