<app-header> </app-header>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <div align="left" class="animated fadeInUp">
          <p>
            <a style="padding: 10px;" class="btn btn-blue" (click)="back()"> <i class="fa fa-arrow-left"></i> Back</a>
          </p>	
        </div>
      </div>
      <div class="col-md-6 col-md-offset-2 animated fadeInUp" *ngIf="tableFlag">
        <div class="panel panel-info">
          <div class="panel-heading text-center">
              <h3 class="panel-title">Mappings</h3>
          </div>
          <br/>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div *ngIf="!showTable" class="alert alert-info col-md-4 col-md-offset-4 animated fadeInDown" align="center">There are no mappings</div>

                <mat-table [dataSource]="mappings" class="table-hover" matSort>
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                    <mat-cell *matCellDef="let mapping"> {{mapping.id}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                    <mat-cell *matCellDef="let mapping"> {{mapping.type}} </mat-cell>
                  </ng-container>
              
                  <ng-container matColumnDef="label">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Label </mat-header-cell>
                    <mat-cell *matCellDef="let mapping"> {{mapping.label}} </mat-cell>
                  </ng-container>
                  
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetails(row)" [ngClass]="{'trActive': selectedRow == row.id}"></mat-row>
                </mat-table>
                <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
            </div>
            <div class="row">
              <div align="center">
                <div *ngIf="deleteInfo" class="alert alert-success animated fadeInDown">{{deleteInfo}}</div>
                <div *ngIf="error" class="alert alert-danger animated fadeInDown">{{error}}</div>
              </div>
            </div>
          </div>
        </div>
        <hr class="style14" />
        <div align="center" class="animated fadeInUp">
          <a class="btn" (click)="newMapping()">New mapping</a>
          <span *ngIf="details" class="animated fadeInUp">
            <a class="btn btn-blue" (click)="editMapping()">Edit mapping</a>
            <a class="btn btn-red" (click)="removeMapping()"> Remove mapping</a>
          </span>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 col-md-offset-3 animated fadeInUp" *ngIf="newFlag || editFlag">
        <div class="panel panel-info">
          <div class="panel-heading text-center">
              <h3 *ngIf="editFlag" class="panel-title">Edit mapping</h3>
              <h3 *ngIf="newFlag" class="panel-title">New mapping</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <form>
                  <mat-form-field>
                    <input matInput name="label" placeholder="Label" [(ngModel)]="mapping.label" required>
                    <mat-error>This field is required</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Type of mapping" (change)="onTypeChange(mapping)" [(ngModel)]="mapping.type" name="mapping" [disabled]="editFlag" required>
                        <mat-option *ngFor="let mapping of mappingsType" [value]="mapping">
                            {{mapping}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9 col-md-offset-2">
                  <br />
                  <br />
                  <div *ngIf="mappingFields.length > 0 && !info">
                    <div class="alert alert-info" style="text-align: center;">Choose fields for mapping</div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="panel panel-info" droppable (onDrop)="cancelDrop($event)">
                          <div class="panel-heading"> Avaliable fields </div>
                            <div class="panel-body">
                                <li draggable *ngFor="let item of availableFields" [dragData]="item" class="list-group-item">{{item.name}}</li>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2">
                      <div class="panel panel-success" droppable (onDrop)="editFields($event)">
                        <div class="panel-heading">Drop Fields here</div>
                            <div class="panel-body">
                                <li draggable *ngFor="let item of mappingFields" [dragData]="item" class="list-group-item" [ngClass]="{requiredField : item.required}">{{item.name}}</li>
                            </div>
                      </div>
                    </div>
                  </div>
                  <div align="center">
                    <div *ngIf="info" class="alert alert-info animated fadeInDown">{{info}}</div>
                  </div>
              </div>
            </div> 	  
            <div class="col-md-9 col-md-offset-2">
              <div align="center">
                <div *ngIf="error" class="alert alert-danger animated fadeInDown">{{error}}</div>
                <div *ngIf="success" class="alert alert-success animated fadeInDown">{{success}}</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
              <div align="center">
                <button *ngIf="newFlag" type="button" (click)="saveMapping()" class="btn btn-md btn-success" data-toggle="tooltip" data-placement="bottom" title="Save mapping" [disabled]="info"> <i class="fa fa-check"></i></button>
                <button *ngIf="editFlag" type="button" (click)="updateMapping()" class="btn btn-md btn-success" data-toggle="tooltip" data-placement="bottom" title="Save mapping" [disabled]="info"> <i class="fa fa-check"></i></button>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
  