<app-header> </app-header>
<br/>
<div class="row">
  <div align="left" class="animated fadeInUp">
    <p>
      <a style="padding: 10px;" class="btn btn-blue" (click)="back()"> <i class="fa fa-arrow-left"></i> Back</a>
    </p>	
  </div>
</div>

<div class="container" *ngIf="tableFlag">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 animated fadeInUp" style="padding: 10px;">
        <div class="panel panel-info">
          <div class="panel-heading text-center">
              <h3 class="panel-title">Mappings</h3>
          </div>
          <br/>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div *ngIf="!showTable" class="alert alert-info col-md-4 col-md-offset-4 animated fadeInDown" align="center">There are no mappings</div>
                <table class="table table-hover animated fadeInUp" *ngIf="showTable">
                  <thead>
                    <th> Mapping type </th>
                    <th> Label </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mapping of mappings; let i = index;" (click)="showDetails(mapping, i)" [ngClass]="{'trActive': i == selectedRow}">
                      <td> {{mapping.type}} </td>
                      <td> {{mapping.label}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <hr class="style13" />
  <div align="center" class="animated fadeInUp">
    <a class="btn" (click)="newMapping()">New mapping</a>
    <span *ngIf="details" class="animated fadeInUp">
      <a class="btn btn-blue" (click)="editMapping()">Edit mapping</a>
      <a class="btn btn-red" (click)="removeMapping()"> Remove mapping</a>
    </span>
  </div>
</div>
<div class="container" *ngIf="newFlag || editFlag">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 animated fadeInUp" style="padding: 10px;">
        <div class="panel panel-info">
          <div class="panel-heading text-center">
              <h3 *ngIf="editFlag" class="panel-title">Edit mapping</h3>
              <h3 *ngIf="newFlag" class="panel-title">New mapping</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-9 col-md-offset-2"> 	  			
                  <table class="table" rules="none">
                      <tbody>
                          <tr>
                              <td> <b>Label: </b> </td>
                              <td> <input type="text" name="label" class="form-control" [(ngModel)]="mapping.label" required/> </td>
                          </tr>
                          <tr>
                              <td> <b>Type of mapping: </b> </td>
                              <td> 
                                <select [(ngModel)]="mapping.type" (change)="onTypeChange(mapping.type)" name="type" class="form-control" [disabled]="editFlag" required>
                                    <option *ngFor="let mapping of mappings" [value]="mapping.type">{{mapping.type}}</option>
                                </select>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  <br />
                  <br />
                  <div *ngIf="mappingFields.length > 0">
                    <div class="alert alert-info" style="text-align: center;">Choose fields for mapping</div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="panel panel-info">
                          <div class="panel-heading"> Avaliable fields </div>
                            <div class="panel-body">
                                <li draggable *ngFor="let item of availableFields" [dragData]="item" class="list-group-item">{{item.name}}</li>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-2">
                      <div class="panel panel-success" droppable (onDrop)="onItemDrop($event)">
                        <div class="panel-heading">Drop Items here</div>
                            <div class="panel-body">
                                <li *ngFor="let item of mappingFields" class="list-group-item"><b>{{item.name}}</b></li>
                            </div>
                      </div>
                    </div>
                    <div align="center">
                        <button type="button" (click)="backToDefault()" class="btn btn-md btn-danger" data-toggle="tooltip" data-placement="bottom" title="Back to default"> <i class="fa fa-chain-broken" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="panel-footer">
              <div align="center">
                      <button type="button" (click)="saveMapping()" class="btn btn-md btn-success" data-toggle="tooltip" data-placement="bottom" title="Save mapping"> <i class="fa fa-check"></i></button>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>